@{
    @model IEnumerable<Blogs>

}

@foreach (var item in Model)
{
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-6">
        <!-- Blog post-->
        <div class="card mb-4 pagination__item">
            <a href="#!" style="height: 222px;">
                <img class="card-img-top" style="height:100%"
                 src="~/img/@item.PhotoUrl"
                 alt="Sekil">
            </a>
            <div class="card-body">
                <div class="small text-muted">@String.Format("{0:yyyy-MM-dd}", @item.Date)</div>
                <h2 class="card-title h4">@item.BigTitle</h2>
                <p class="card-text">
                    @item.SubTitle
                </p>
                <a asp-action="SingleBlog" asp-controller="Blog" asp-route-id="@item.Id" target="_blank" class="btn btn-primary">Daha çox →</a>
            </div>
        </div>
    </div>
}